body {
    font-weight: bold;
    color: white;
    background: linear-gradient(rgb(7, 89, 220),rgb(22, 5, 120));
}

#titulo{
    width: 130px;
    margin-left: 300px;
    color: rgb(177, 246, 255);
}

#rellenardatos{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

#informacion{
    background-color: rgb(88, 88, 208);
    color:azure;
    margin-right: 80%;
    width: 50%;
}

#datos, td{
    width: 35%;
    padding-top: 2%;
    margin-bottom: 5%;
}

.primeraColumna{
    width: 20%;
}

.introduccionFecha{
    width: 100%;
    background-color: rgb(24, 39, 96);
    color: #00fbff;
}

.introduccionFecha:hover {
    background-color: rgb(0, 204, 255);
    color:rgb(22, 5, 120);
}

#boton{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 25%;
    margin-bottom: 16.6%;

    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(189, 247, 255);
    background-color: #006898;

    border: 1.5px solid #0ffff8;
    border-radius: 15px;
    box-shadow: 0 7px #00c8ff;
}

#boton:hover {
    background-color: #002d51
}

#boton:active {
  background-color: #002d51;
  box-shadow: 0 5px #006898;
  transform: translateY(4px);
}