body {
    font-weight: bold;
    color: white;
    background: linear-gradient(rgb(7, 89, 220),rgb(22, 5, 120));
}

#titulo{
    margin-left: 300px;
    color: rgb(177, 246, 255);
}

.tituloopcion{
    color:rgb(0, 255, 242);
    font-size: larger;
}

#enunciado{
    font-size: large;
}

#rellenardatos{
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

.primeraColumna{
    width: 20%;
}

.informacion{
    width: 80%;
    background-color: rgb(88, 88, 208);
    color:azure;
    margin-right: 80%;
}

.opcion {
    background-color: #000985;
    border: 1.5px solid rgb(0, 166, 255);
    padding: 2%;
    margin-bottom: 5%;
}

#datos, td{
    width: 50%;
    margin-bottom: 2%;
}

#primeraFila{
    padding-bottom: 10px;
}

.primeraColumna{
    width: 55%;
}

.introduccionDatos{
    width: 80%;
}

.introDatos {
    background-color: rgb(24, 39, 96);
    color: #00fbff;
}

.introDatos:hover {
    background-color: rgb(0, 204, 255);
    color:rgb(22, 5, 120);
}

input{
    width: 95%;
}

.introduccionFecha:hover {
    background-color: rgb(0, 204, 255);
    color:rgb(22, 5, 120)
}

#zonaboton{
    display: flex;
    justify-content: left;
}

#boton{
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 35%;
    margin-bottom: 5%;

    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(189, 247, 255);
    background-color: #006898;

    border: 1.5px solid #0ffff8;
    border-radius: 15px;
    box-shadow: 0 7px #00c8ff;
}

#boton:hover {
    background-color: #002d51
}

#boton:active {
  background-color: #002d51;
  box-shadow: 0 5px #006898;
  transform: translateY(4px);
}