body{
    background-image: url('img/fondoautobus.png');
}
header{
    display: flex;
    margin: 40px;
    padding:10px;
    padding-bottom: 0px;
    margin-top: 0px;
    background:linear-gradient(rgb(70%, 0%, 30%), rgb(64, 0, 255),rgb(86, 7, 102));
    border-style: solid;
    border-color: black;
    border-radius:6px;
}
ul{
    list-style-type: none;  
    display:flex;
    padding: 5px;
}
li{
    padding: 30px;
    margin-left:10%;
    margin-right:10%;
}
.enlaces{
    width:100%;
    padding-bottom: 0px;
}
.enlaces img{
    padding: 0px;
    margin: 0px;
    width:30px;
    height:30px;
}
.enlaces li{
    margin: 2px;
    padding: 2px;
    margin-left: 30px;
}
#login{
    margin-left:63%;
    padding:0;
    margin-bottom:-8px;
    margin-top:-7px;
    height: 20%;
    width:100%;
    border: solid;
    border-color: rgb(147, 42, 165);
    border-radius: 6px;
    display: flex;
    background: linear-gradient(rgb(70%, 0%, 30%),rgb(86, 7, 102));
}
#iframe{
    height:80vh;
    width:70%;
    margin-left: 12%;
    background: white;
}
.Funcionalidades{
    width:100%;
    margin-top: 3%;
    margin-bottom:3%;
}
.Funcionalidades a{
    border: solid;
    background: rgb(64, 0, 255);
    border-color: rgb(23, 23, 99);
    border-radius: 7px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    color: white;  
    display: inline;
}
#paradas{
    float: left;
    margin-left:3%;
}
#calendario{
    float: left;
    margin-left:17%;
}
#linea{
    float: left;
    margin-left:26%;
}
#trayecto{
    float:right;
    margin-right:3%;
}
#imagensession{
    width:30%;
    height: 40%;
    margin-bottom:1%;
    margin-left:8%;
    padding-right: 10px;
}
#usuarioregistrado{
    border: solid;
    border-color: rgb(11, 11, 53);
    background-color: rgb(41, 6, 144);
    padding: 10%;
    margin-top:4%;
    padding-right:14%;
    padding-left:14%;
    margin-bottom:4%;
    color: rgb(206, 206, 219);
    text-decoration: none;
    border-radius: 15px;
    margin-right:1%;
}
#session{
    border:solid;
    border-color: rgb(5, 0, 11);
    padding:0;
    color:white;
    text-decoration: none;
    background: linear-gradient(rgb(57, 0, 179),rgb(7, 102, 9));
    padding-top:10px;
    padding-left:10px;
    padding-right:7px;
    margin-top:10px;
    margin-bottom:10px;
}
